@media (max-width:768px) {
    .section:last-child {
        margin-block-end: 60px;
    }

    .header__theme-menu {
        margin-inline-end: 20px;
        margin-block-end: 54px;
        align-self: end;
        justify-self: end;
    }

    .header__theme-menu-list {
        flex-direction: column;
        gap: 13px;
    }

    .header__subtitle {
        max-inline-size: 364px;
        margin-block-start: 5.5%;
    }

    .why {
        grid-gap: 20px;
    }

    .what__card-list {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .how {
        grid-gap: 10px 20px;
    }
}