.page.theme_dark {
    --page-background-color: #000028;
    --header-background-image: url("../images/cover-image-dark.png");
    --font-color: #F1B2CE;
    --block-heading-color: #FF0070;
    --button-hover-border: rgba(53, 52, 48, 0.4);
    --accent-color: #FF0070;
    --heading-font-color: #DB00FF;
    --heading-shadow-color: #FF0070;
    --decorated-element-color: #FF0070;
    --main-heading-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --mobile-heading-font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --rec-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-background-color: #000028;
        --header-background-image: url("../images/cover-image-dark.png");
        --font-color: #F1B2CE;
        --block-heading-color: #FF0070;
        --button-hover-border: rgba(53, 52, 48, 0.4);
        --accent-color: #FF0070;
        --heading-font-color: #DB00FF;
        --heading-shadow-color: #FF0070;
        --decorated-element-color: #FF0070;
        --main-heading-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        --mobile-heading-font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        --rec-color: #FF0070;
    }
} 

.header__theme-menu::before {
    content: "REC";
    color: var(--rec-color);
    position: absolute;
    inset-inline-end: 48px;
    inset-block-start: 22px;
}

.header__theme-menu::after {
    content: "";
    position: absolute;
    inset-inline-end: 29px;
    inset-block-start: 29px;
    width: 9px;
    height: 9px;
    background: var(--rec-color);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px var(--rec-color);
}
