.page.theme_dark {
    --page-background-color: #000028;
    --header-background-image: url("../images/cover-image-dark.png");
    --font-color: #F1B2CE;
    --card-title-color: #000028;
    --block-heading-color: #FF0070;
    --button-hover-border: #FF007066;
    --accent-color: #FF0070;
    --heading-font-color: #DB00FF;
    --heading-shadow-color: #FF0070;
    --decorated-element-color: #FF0070;
    --main-heading-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --mobile-heading-font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --rec-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-background-color: #000028;
        --header-background-image: url("../images/cover-image-dark.png");
        --font-color: #F1B2CE;
        --block-heading-color: #FF0070;
        --card-title-color: #000028;
        --button-hover-border: #FF007066;
        --accent-color: #FF0070;
        --heading-font-color: #DB00FF;
        --heading-shadow-color: #FF0070;
        --decorated-element-color: #FF0070;
        --main-heading-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        --mobile-heading-font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        --rec-color: #FF0070;
    }
}