/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --page-background-color: #FFF1F7;
    --header-background-image: url("../images/cover-image-light.png");
    --font-color: #353430;
    --card-title-color: #353430;
    --block-heading-color: #353430;
    --button-hover-border: rgba(53, 52, 48, 0.4);
    --accent-color: #FF8DCB;
    --heading-font-color: #FFC2E6;
    --heading-shadow-color: #FF0070;
    --decorated-element-color: #353430;
    --main-heading-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --mobile-heading-font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --rec-color: transparent;
}